{% extends 'common/base.html' %}
{% block stylesheets %}
    <style>
    ul {
      list-style: inside;
    }
    </style>
{% endblock %}
{% block javascripts %}<script src="{{ url_for('static', filename = 'js/tableau.js') }}"></script>{% endblock %}
{% block title %}Compétences{% endblock %}
{% block body %}
    <div class="glassbackground m-auto overflow-hidden">
        <div class="illustration-container">
            <img height="20"
                 width="20"
                 src="{{ url_for('static', filename = 'images/cards/compétences.jpg') }}"
                 alt="Compétences"
                 class="illustration" />
        </div>
        <div class="text-container p-4">
            {{ index_text|safe }}
            <div class="input-group mb-3">
                <input type="text"
                       class="form-control"
                       id="synSeach"
                       placeholder="Rechercher une synergie"
                       aria-label="Rechercher une compétence"
                       aria-describedby="button-addon2"
                       onkeyup="searchTable('tabsyn', 'synSeach')">
            </div>
            <table id="tabsyn">
                <caption>Tableau : Synergies entre compétences</caption>
                <thead>
                    <tr>
                        <th>Un degré de maîtrise de 5 ou plus en ...</th>
                        <th>Confère un bonus de +2 aux tests de ...</th>
                    </tr>
                </thead>
                <tbody>
                    {% for synergy in synergie %}
                        <tr class="row-to-search">
                            <td>{{ synergy.libelle_competence }}</td>
                            <td>{{ synergy.libelle_competence_1 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div id="tabsynRes none-display">
                <p class="text-center">Aucun résultat</p>
            </div>
            <h2>Tests de caractéristique</h2>
            <p>
                Il arrive qu’un personnage tente d’accomplir une action ne correspondant à aucune compétence. On a alors recours à un test de caractéristique, simulé par 1d20 + modificateur de la caractéristique appropriée (cela revient en quelque sorte à jouer un test inné de compétence).
            </br>
            Parfois, le résultat d’une action repose uniquement sur l’une des caractéristiques du personnage, sans que le hasard intervienne. De même que deux individus ne vont pas effectuer de test de taille pour savoir qui est le plus grand, ils ne jouent pas de test de Force pour savoir qui est le plus musclé.
        </p>
        <h2>Les compétences</h2>
        <div class="input-group mb-3">
            <input type="text"
                   class="form-control"
                   id="compSeach"
                   placeholder="Rechercher une compétence ou un element du tableau"
                   aria-label="Rechercher une compétence"
                   aria-describedby="button-addon2"
                   onkeyup="searchTable('tabcomp', 'compSeach')">
        </div>
        <table id="tabcomp">
            <caption>Tableau : Les compétences</caption>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Caractéristique associées</th>
                    <th>Formation requise</th>
                    <th>Malus d'armure</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for competence in competences %}
                    <tr onmouseover="hoverRow(this)"
                        onmouseout="unhoverRow(this)"
                        class="clickable-tr row-to-search"
                        href="{{ url_for('competences.competence', nom = competence.Competence.libelle_competence) }}">
                        <td>{{ competence.Competence.libelle_competence }}</td>
                        <td>{{ competence.Caracteristique.nom }}</td>
                        <td class="text-center fs-4">
                            {% if not competence.Competence.innee %}
                                <i class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times-circle-o text-danger" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td class="text-center fs-4">
                            {% if competence.Competence.malus_armure %}
                                <i class="fa fa-check-circle-o text-success" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-times-circle-o text-danger" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                        <td>{{ competence.Competence.description_courte }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="tabcompRes none-display">
            <p class="text-center">Aucun résultat</p>
        </div>
        <h2>Techniques astucieuses (regles optionelle)</h2>
        <p>
            Les techniques astucieuses sont une méthode de donner à un personnage des techniques souvent hautes en couleur, comme sauter par-dessus un gouffre à l'aide d'un fouet, courir sur un mur ou encore sauter à cheval tout en frappant son ennemi. Apprendre une technique astucieuse comptant des points de compétence, ce sont généralement les personnages en ayant le plus qui en apprennent le plus. Les 4 types de techniques astucieuses sont Interaction, Manipulation, Mental et Mouvement. Chacun de ses types se focalisent sur certaines compétences, et seront donc apprécier par divers types de personnage.
        </p>
        <p>
            - En voir plus sur les <a href="{{ url_for("competences.techniques_astucieuses") }}">techniques astucieuses</a>
        </p>
    </div>
</div>
{% endblock %}
