<div class="position-relative mb-4 mt-5 h-10">
    <div class="position-absolute top-100 start-50 translate-middle">
        <nav aria-label="pagination">
            <ul class="pagination pagination-circle">
                {% if page-1 > 0 %}
                    <li class="page-item">
                    <a class="page-link text-danger" href="{{ 1 }}"><i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="page-item">
            <a class="page-link text-danger" href="{{ page-1 }}"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
    </li>
{% endif %}
{% for i in range(1, 4)|reverse %}
    {% if page-i > 0 %}
        <li class="page-item">
            <a class="page-link text-danger" href="{{ page-i }}">{{ page-i }}</a>
        </li>
    {% endif %}
{% endfor %}
<li class="page-item" aria-current="page">
    <a class="page-link text-white bg-danger" href="#">{{ page }}<span class="visually-hidden">(current)</span></a>
</li>
{% for i in range(1, 4) %}
    {% if page+i < nb_pages+1 %}
        <li class="page-item">
            <a class="page-link text-danger" href="{{ page+i }}">{{ page+i }}</a>
        </li>
    {% endif %}
{% endfor %}
{% if page+1 < nb_pages+1 %}
    <li class="page-item">
    <a class="page-link text-danger" href="{{ page+1 }}"><i class="fa fa-arrow-right" aria-hidden="true"></i>
</a>
</li>
<li class="page-item">
<a class="page-link text-danger" href="{{ nb_pages }}"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
</a>
</li>
{% endif %}
</ul>
</nav>
</div>
</div>
