{% extends 'common/base.html' %}
{% block stylesheets %}
    <style>
    ul {
      list-style: inside;
    }
    </style>
{% endblock %}
{% block title %}Magie{% endblock %}
{% block body %}
    <div class="glassbackground m-auto overflow-hidden">
        <div class="illustration-container">
            <img height="20"
                 width="20"
                 src="{{ url_for('static', filename = 'images/cards/magic.jpg') }}"
                 alt="Magie"
                 class="illustration" />
        </div>
        <div class="text-container p-4">
            <h1 class="mb-3 text-center">Magie</h1>
            <p>
                Un sort est un effet magique. Les sorts sont issus de deux origines : la magie profane et la magie divine. Magiciens, ensorceleurs et bardes utilisent la première, tandis que prêtres et druides (mais aussi paladins et rôdeurs expérimentés) font appel à la seconde. Certains lanceurs de sorts font leur choix parmi une liste de sorts connus limitée, alors que d’autres disposent d’un grand nombre d’options.
                <br>
                La plupart préparent leurs sorts (via un grimoire, des prières ou quelque forme de méditation), alors que d’autres les jettent de façon spontanée. Malgré ces différences, quand vient le moment de les utiliser, tous les sorts se ressemblent.
                <br>
                La magie profane et la magie divine s’expriment à travers huit écoles, qui regroupent par famille les sorts agissant de la même façon.
            </p>
            <h4>Recherche par nom :</h4>
            <form method="post" action="{{ url_for("sorts.resultat_recherche") }}">
                <div class="input-group mb-3">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="text"
                           class="form-control"
                           name="sort-nom"
                           placeholder="Nom du sort"
                           aria-label="Nom du sort"
                           aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Rechercher</button>
                </div>
            </form>
            <p>ou</p>
            <p>
                <a href="{{ url_for("sorts.recherche") }}">Rechercher un sort</a>
            </p>
            {{ index_text|safe }}
        </div>
    </div>
{% endblock %}
